In [1]:
import json
import pandas as pd

In [2]:
with open("data/raw/datasenado_json_completo.json", "r", encoding='utf-8-sig') as f:
    data = json.load(f)

In [4]:
question_1 = 'Você já sofreu algum tipo de violência doméstica ou familiar provocada por um homem?'

In [37]:
clean_data = []

for bloco in data['perguntas']:
    if bloco['bloco'] == 'A violência vivida / testemunhada':
        for pergunta in bloco['perguntas']:
            if pergunta['titulo'] == question_1:
                for ano in pergunta['anos']:
                    for cruzamento in ano['cruzamentos']:
                        for categorias in cruzamento['categorias']:
                            for subcategoria in categorias['subcategorias']:
                                row = {}
                                row['ano'] = ano['ano']
                                row['var_cruz'] = cruzamento['var_cruz']
                                row['categoria'] = categorias['categoria']
                                row['subcategoria'] = subcategoria['cat']
                                row['percentual'] = subcategoria['perc'] 
                                clean_data.append(row)

In [38]:
clean_data_df = pd.DataFrame(clean_data)

In [40]:
clean_data_df.head()

    ano      var_cruz categoria  subcategoria percentual
0  2005  Faixa etária       Sim  16 a 29 anos         11
1  2005  Faixa etária       Sim  30 a 39 anos         25
2  2005  Faixa etária       Sim  40 a 49 anos         23
3  2005  Faixa etária       Sim  50 a 59 anos         13
4  2005  Faixa etária       Sim    60 ou mais         15

In [41]:
# Save data to csv
clean_data_df.to_csv('data/clean/question_1.csv', index=False)